<app-header></app-header>
<br>
<div class="container">

  <h4 class="mb-4 text-muted" style="padding: 2px;">{{titulo}}</h4>

  <div class="row">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <!--NOMBRE-->
      <div class="form-group">
        <label for="nombre">Nombre articulo</label>
        <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese el nombre del articulo"
          [ngClass]="{ 'is-invalid' : enviado && formulario.controls.nombre.errors }">
        <div *ngIf="enviado && formulario.controls.nombre.errors" class="invalid-feedback">
          <div *ngIf="formulario.controls.nombre.errors.required">Debe ingresar su nombre de usuario</div>
        </div>
      </div>
      
      <!--Descripcion-->
      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input type="text" formControlName="descripcion" class="form-control" placeholder="Ingrese descripcion del articulo"
          [ngClass]="{ 'is-invalid' : enviado && formulario.controls.descripcion.errors }">
        <div *ngIf="enviado && formulario.controls.descripcion.errors" class="invalid-feedback">
          <div *ngIf="formulario.controls.descripcion.errors.required">Debe ingresar su nombre de usuario</div>
        </div>
      </div>
      
      <!--Precio-->
      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="text" formControlName="precio" class="form-control"  placeholder="Ingrese precio del articulo"
          [ngClass]="{ 'is-invalid' : enviado && formulario.controls.precio.errors }">
        <div *ngIf="enviado && formulario.controls.precio.errors" class="invalid-feedback">
          <div *ngIf="formulario.controls.precio.errors.required">Debe ingresar su nombre de usuario</div>
        </div>
      </div>
      
      <!--Marca nuevo-->
      <div class="form-group" *ngIf="modoNuevo == true"> <!--Si el modo nuevo es true, osea estamos CREANDO NUEVO ARTICULO-->
        <label for="marca">Marca</label>
        <select [(ngModel)]="marcaElegida" formControlName="marca" class="form-control">
          
          <option *ngFor="let m of marcas" [ngValue]="m">
            {{m.nombreMarca}}
          </option>
        </select>
      </div>
      
      <!--Color nuevo-->
      <div class="form-group" *ngIf="modoNuevo == true">
        <label for="color">Color</label>
        <select [(ngModel)]="colorElegido" formControlName="color" class="form-control">
          <!--<option>--Elige Color--</option>-->
          <option *ngFor="let c of colores" [ngValue]="c">
            {{c.nombreColor}}
          </option>
        </select>
      </div>


      <!-- ---------------------------------- -->
      <!--Si el modo nuevo es false, osea estamos EDITANDO UN ARTICULO-->
      <!--Marca editar-->
      <div class="form-group" *ngIf="modoNuevo == false">
        <label for="marca">Marca actual</label>
        <input type="text" formControlName="marca" class="form-control" disabled>
        <label for="marca">Nueva Marca</label>
        <select formControlName="marcaCombo" class="form-control">
          <option *ngFor="let m of marcas" [ngValue]="m">
            {{m.nombreMarca}}
          </option>
        </select>
      </div>
      
      <!--Color editar-->
      <div class="form-group" *ngIf="modoNuevo == false">
        <label for="color">Color actual</label>
        <input type="text" formControlName="color" class="form-control" disabled>
        <label for="color">Nuevo Color</label>
        <select formControlName="colorCombo" class="form-control">
          <option *ngFor="let c of colores" [ngValue]="c">
            {{c.nombreColor}}
          </option>
        </select>
      </div>
      
      <div class="form-group"style="padding-bottom: 1cm;">
        <button class="btn btn-success">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>