<!-- <div class="footer text-center">
	<hr>
	<p style="color:blue;">© Equipo BOGABO {{anio}}</p>
	
</div> -->
<div class="footer-basic">
	<footer>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="inicio">Inicio</a></li>
			<li class="list-inline-item"><a href="articulos">Articulos</a></li>
			<li class="list-inline-item"><a href="marcas">Marcas</a></li>
			<li class="list-inline-item"><a href="colores">Colores</a></li>
			
		</ul>
		<hr>
		<div class="social"><a href="https://www.instagram.com/lucabonoris/">L</a><a href="https://www.instagram.com/franciscobortolin/">F</a><a href="https://www.instagram.com/chelogarino/">A</a></div>
		<p class="copyright">Equipo BOGABO © DAW 2020</p>
	</footer>
</div>
